html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

input {
    margin: 1rem auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
}

td {
    border: 1px solid black;
    height: 2rem;
}